@page "/"

<h1 style="text-align:center">Metronome Web App</h1>

<p  style="text-align:center">@body</p>

@code{

    MarkupString body = (MarkupString)(@"This is a simple metronome application using the Javascript library Tone.js and the Blazor framework.
                                            <br />
                                            The Javascript Interop is done via the Blazor IJSRuntime interface.");
}